#main {
    width: 100%;
}

#top {
    height: 80px;
}

#container {
    max-width: 1200px;
    margin: auto;
    display: flex;
}

#box1 {
    flex-basis: 68%;

    margin-left: 1%;
}

.email,
.address {
    width: 98%;
}

.firstname,
.lastname,
.address2,
.PostalCode,
.city,
.region,
.phone {
    width: 48.3%;
}

#india {
    width: 49.3%;
}

table {
    background: #FFFFFF
}

.continue {
    background: #000;
    color: #FFFFFF;
    padding-left: 15%;
    padding-right: 15%;
    margin-left: 30%;
    margin-top: 1%;
}

#box2 {

    flex-basis: 28%;
    margin-left: 2%;
    background: #F4F4F4;
}

.continue2 {
    background: #000;
    color: #FFFFFF;
    width: 100%;
}

.total_amount {
    display: flex;
    justify-content: space-between;
}

.promo {
    border-bottom: 1px solid #000;
    border-top: 1px solid black;
    color: #82C3DD;
}

th {
    border: 1px solid black;
}

.shopping_bag {
    height: 25px;
    float: right;
    margin-top: 1%;
}

.nordStorm {
    display: inline-block;
}

nav {
    border: 1px solid black;
}



table {
    width: 100%;
}

#payment2 {
    margin: 1%;

}

.num2 {
    float: left;
    border: 2px solid black;
    margin-right: 1%;
    border-radius: 50%;

}

.payment_name {
    float: left;
    border-top: 1px solid black;

}

.div_cart {

    border: 1px solid black;
}

.product_img {
    width: 40%;

}

.price {
    text-align: right;
}

img {
    width: 100%;
}