#main {
    width: 100%;
}

#top {
    height: 110px;
    background-color: #0046be;
}

#top1 {
    width: 100%;
    height: 60px;
}

#top2 {
    width: 100%;
    display: grid;
    gap: 2.8%;
    grid-template-columns: 6% 8% 9% 6% 7% 9% 6% 7% 7% 7%;
}

#top2>div {
    height: 50px;
    color: white;
    text-align: center;
}

#middle1 {
    height: 1000px;
    background-color: #e8ebee;
}

#middle12 {
    padding-left: 250px;
    height: 700px;
    display: grid;
    gap: 2%;
    grid-template-columns: 150px 150px 150px 150px 150px 150px;
}

#middle12>div>img {
    width: 100%;
    border-radius: 50%;
    border: 3px solid #4a77e6;
}

#middle12>div>div {
    padding-top: 10px;
    text-align: center;
}

#middle3 {
    display: grid;
    gap: 2%;
    grid-template-columns: 480px 480px 480px;
}

#middle3>div {
    background-color: #e8ebee;
    height: 650px;
}

#middle31 {
    display: grid;
    gap: 2%;
    grid-template-columns: 45% 45%;
}

#middle31>div {
    padding-left: 10px;
    padding-top: 10px;
    height: 300px;
}

#middle31>div>div:nth-child(1) {
    height: 220px;
}

#middle41 {
    display: grid;
    gap: 1.85%;
    grid-template-columns: 32% 32% 32%;
}

#middle41>div {
    height: 400px;
}

#middle51 {
    padding-top: 20px;
}

#middle511 {
    display: grid;
    gap: 2%;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
}

#middle511>div {
    height: 250px;
}

#middle511>div>div>img {
    height: 180px;
}

img {
    width: 100%;
}