#main {
    width: 100%;
}

#container {
    margin-left: 30%;
    margin-right: 30%;
}

#box2 {
    display: flex;
    border-bottom: 1px solid;
}

.box2_div1,
.box2_div2 {
    flex-basis: 45%;
}

#credit {
    width: 56%;
}

#Place_Order {
    width: 30%;
    height: 30px;
    background-color: black;
    color: white
}

.receipt {
    text-align: center;
}

.description {
    text-align: center;
}

img {
    width: 100%;
}