#main {
    width: 100%;
    border: 2px solid red;
}

#middle {
    height: 680px;
    background-color: #e8ebee;
    border: 2px solid green;
}

#center {
    width: 400px;
    height: 610px;
    background-color: white;
    margin-left: 550px;
    margin-top: 30px;
}

#m1 {
    text-align: center;
    font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #040c13;
}

#signinbox {
    padding-left: 20px;
    padding-right: 20px;
}

#m4 {
    font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #001e73;
}

#bottom {
    height: 120px;
}

input {
    width: 350px;
    height: 40px;
}

img {
    width: 100%;
}

button {
    width: 357px;
    height: 40px;
    background-color: #0046be;
    color: white;
    font-weight: 700;
    font-size: 16px;
}